:local(.container){
  width: 100%;
  height: var(--navi-bar-height);
  background-color: lightGray;
  display: flex;
  flex-direction: row;
}

:local(.leftItemGroup){
  width: 30%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding-left: 10px;
}

:local(.centerItemGroup){
  width: 40%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 16px;
}

:local(.rightItemGroup){
  width: 30%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding-right: 10px;
}

:local(.goBackBtn){
  height: 50px;
  width: 50px;
  border-radius: 25px;
  font-size: 25px!important;
  padding: 0!important;
  background-color: transparent;
}

:local(.cartBtn){
  height: 50px;
  width: 50px;
  border-radius: 25px;
  font-size: 25px!important;
  padding: 0!important;
  margin-right: 3px;
}

:local(.cartIndicator){
  background-color: red;
  height: 16px;
  width: 16px;
  position: absolute;
  border-radius: 8px;
  top: 10px;
}
