:root {
  --card-margin: 24px;
  --navi-bar-height: 70px;
  --color-primary-0: #D5D8DC;
  --color-primary-1: #8D9BB2;
  --color-primary-2: #ABB5C6;
  --color-primary-3: #A2A6AD;
  --color-primary-4: #8D929A;
  --color-primary-5: #EEEFF1;
}

.card-animation-enter {
  opacity: 0.01;
}

.card-animation-enter.card-animation-enter-active {
  opacity: 1;
  transition: all 200ms ease-in-out;
}

.card-animation-appear {
  opacity: 0.01;
}

.card-animation-appear.card-animation-appear-active {
  opacity: 1;
  transition: all 200ms ease-in-out;
}

.card-animation-leave {
  opacity: 1;
}

.card-animation-leave.card-animation-leave-active {
  opacity: 0.01;
  transition: all 200ms ease-in-out;
}
